parameters:
	ignoreErrors:
		-
			message: "#^Call to method [a-zA-Z_]+\\(\\) on an unknown class Pimcore\\\\Model\\\\[a-zA-Z\\\\]+\\.$#"
			count: 6
			path: src/PaymentManager/Payment/Unzer.php
		-
			message: "#^Class Pimcore\\\\Model\\\\DataObject[a-zA-Z\\\\]+ not found\\.$#"
			count: 3
			path: src/PaymentManager/Payment/Unzer.php
		-
			message: "#^Parameter \\$[a-zA-Z]+ of method Pimcore\\\\Bundle\\\\EcommerceFrameworkBundle\\\\[a-zA-Z\\\\]+\\:\\:[a-zA-Z]+\\(\\) has invalid type Pimcore\\\\Model\\\\[a-zA-Z\\\\]+\\.$#"
			count: 6
			path: src/PaymentManager/Payment/Unzer.php
		-
			message: "#^Parameter \\#1 \\$order of method Pimcore\\\\Bundle\\\\EcommerceFrameworkBundle\\\\OrderManager\\\\V7\\\\OrderManagerInterface\\:\\:createOrderAgent\\(\\) expects Pimcore\\\\Bundle\\\\EcommerceFrameworkBundle\\\\Model\\\\AbstractOrder\\, Pimcore\\\\Model\\\\DataObject\\\\OnlineShopOrder given\\.$#"
			count: 2
			path: src/PaymentManager/Payment/Unzer.php
		-
			message: "#^Call to an undefined method UnzerSDK\\\\Resources\\\\AbstractUnzerResource\\:\\:getMessage\\(\\)\\.$#"
			count: 1
			path: src/PaymentManager/Payment/Unzer.php